<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Database Assignment 2</title>
</head>
<body style="background-color:#FDF5E6">
    <h1 class="text-center">Database Assignment 2 - Prof.Li</h1>
    <br>
    <br>
    <h2 class="text-center">Query Menu</h2>
    <div class="d-flex justify-content-center">
    <div class="btn-group me-2" role="group" aria-label="Second group">
        <button type="button" class="btn btn-secondary" onclick="location.href='create_table/'">Create Table</button>
        <button type="button" class="btn btn-secondary" onclick="location.href='insert_data/'">Insert Data</button>
        <button type="button" class="btn btn-secondary" onclick="location.href='first_query/'">First Query</button>
        <button type="button" class="btn btn-secondary" onclick="location.href='second_query/'">Second Query</button>
        <button type="button" class="btn btn-secondary" onclick="location.href='third_query/'">Third Query</button>
        <button type="button" class="btn btn-secondary" onclick="location.href='fourth_query/'">Fourth Query</button>
    </div>
    </div>
    <br>
    <br>
    {% if flag == 0 %}
    <div class="d-flex justify-content-around">
        <table class="table" style="width: 30px; height: 10px;">
            <caption>Records of Products</caption>
            <thead class="table-dark">
                <tr>
                    <th>MAKER</th>
                    <th>MODEL</th>
                    <th>TYPE</th>
                </tr>
            </thead>
            {% for r in product_output %}
            <tr>
                <td>{{ r.maker }}</td>
                <td>{{ r.model }}</td>
                <td>{{ r.type }}</td>
            </tr>
            {% endfor %}
        </table>
        <table class="table" style="width: 30px; height: 10px;">
            <caption>Records of PC</caption>
            <thead class="table-dark">
                <tr>
                    <th>MODEL</th>
                    <th>SPEED</th>
                    <th>RAM</th>
                    <th>HD</th>
                    <th>PRICE</th>
                </tr>
            </thead>
            {% for r in pc_output %}
            <tr>
                <td>{{ r.model }}</td>
                <td>{{ r.speed }}</td>
                <td>{{ r.ram }}</td>
                <td>{{ r.hd }}</td>
                <td>{{ r.price }}</td>
            </tr>
            {% endfor %}
        </table>
        <table class="table" style="width: 30px; height: 10px;">
            <caption>Records of Laptop</caption>
            <thead class="table-dark">
                <tr>
                    <th>MODEL</th>
                    <th>SPEED</th>
                    <th>RAM</th>
                    <th>HD</th>
                    <th>SCREEN</th>
                    <th>PRICE</th>
                </tr>
            </thead>
            {% for r in laptop_output %}
            <tr>
                <td>{{ r.model }}</td>
                <td>{{ r.speed }}</td>
                <td>{{ r.ram }}</td>
                <td>{{ r.hd }}</td>
                <td>{{ r.screen }}</td>
                <td>{{ r.price }}</td>
            </tr>
            {% endfor %}
        </table>
        <table class="table" style="width: 30px; height: 10px;">
            <caption>Records of Printer</caption>
            <thead class="table-dark">
                <tr>
                    <th>MODEL</th>
                    <th>COLOR</th>
                    <th>TYPE</th>
                    <th>PRICE</th>
                </tr>
            </thead>
            {% for r in printer_output %}
            <tr>
                <td>{{ r.model }}</td>
                <td>{{ r.color }}</td>
                <td>{{ r.type }}</td>
                <td>{{ r.price }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}
</body>
</html>