<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Database Assignment 2</title>
</head>
<body>
    <h2>Database Assignment 2</h2>
    <button type="button" onclick="location.href='create_table/'">CreateTable</button>
    <button type="button" onclick="location.href='insert_data/'">InsertData</button>
    <br>
    <br>
    <div>
        <button type="button" onclick="location.href='first_query/'">first_query</button>
        <button type="button" onclick="location.href='second_query/'">second_query</button>
        <button type="button" onclick="location.href='third_query/'">third_query</button>
        <button type="button" onclick="location.href='fourth_query/'">fourth_query</button>
    </div>
    <br>
    <br>
    {% if flag == 0 %}
        <table class="table table-dark table-striped" style="width: 30%">
            <thead>
                <tr>
                    <th>MAKER</th>
                    <th>MODEL</th>
                    <th>TYPE</th>
                </tr>
            </thead>
            {% for r in product_output %}
            <tr>
                <td>{{ r.maker }}</td>
                <td>{{ r.model }}</td>
                <td>{{ r.type }}</td>
            </tr>
            {% endfor %}
        </table>
        <table class="table table-dark table-striped" style="width: 30%">
            <thead>
                <tr>
                    <th>MODEL</th>
                    <th>SPEED</th>
                    <th>RAM</th>
                    <th>HD</th>
                    <th>PRICE</th>
                </tr>
            </thead>
            {% for r in pc_output %}
            <tr>
                <td>{{ r.model }}</td>
                <td>{{ r.speed }}</td>
                <td>{{ r.ram }}</td>
                <td>{{ r.hd }}</td>
                <td>{{ r.price }}</td>
            </tr>
            {% endfor %}
        </table>
        <table class="table table-dark table-striped" style="width: 30%">
            <thead>
                <tr>
                    <th>MODEL</th>
                    <th>SPEED</th>
                    <th>RAM</th>
                    <th>HD</th>
                    <th>SCREEN</th>
                    <th>PRICE</th>
                </tr>
            </thead>
            {% for r in laptop_output %}
            <tr>
                <td>{{ r.model }}</td>
                <td>{{ r.speed }}</td>
                <td>{{ r.ram }}</td>
                <td>{{ r.hd }}</td>
                <td>{{ r.screen }}</td>
                <td>{{ r.price }}</td>
            </tr>
            {% endfor %}
        </table>
        <table class="table table-dark table-striped" style="width: 30%">
            <thead>
                <tr>
                    <th>MODEL</th>
                    <th>COLOR</th>
                    <th>TYPE</th>
                    <th>PRICE</th>
                </tr>
            </thead>
            {% for r in printer_output %}
            <tr>
                <td>{{ r.model }}</td>
                <td>{{ r.color }}</td>
                <td>{{ r.type }}</td>
                <td>{{ r.price }}</td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}
</body>
</html>