<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Database Assignment 2</title>
</head>
<body>
    <h2>Database Assignment 2</h2>
    <button type="button" onclick="location.href='create_table/'">CreateTable</button>
    <button type="button" onclick="location.href='insert_data/'">InsertData</button>
    <br>
    <br>
    <div>
        <button type="button" onclick="location.href='first_query/'">first_query</button>
        <button type="button" onclick="location.href='second_query/'">second_query</button>
        <button type="button" onclick="location.href='third_query/'">third_query</button>
        <button type="button" onclick="location.href='fourth_query/'">fourth_query</button>
    </div>
</body>
</html>