<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Database Assignment 2</title>
</head>
<body style="background-color:#FDF5E6">
    <br>
    <h2 class="text-center">Second Query - Find the average speed of laptop for each maker</h2>
    <br>
    <br>
    <h3 class="text-center">Result of query</h3>
    <br>
    <div class="d-flex justify-content-center">
        <table class="table" style="width: 15%">
            <thead class="table-dark">
                <tr>
                    <th>MAKER</th>
                    <th>AVG SPEED</th>
                </tr>
            </thead>
            {% for r in output %}
            <tr>
                <td>{{ r.maker }}</td>
                <td>{{ r.average_speed }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>