<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Database Assignment 2</title>
</head>
<body>
    <h2>Third Query - Find the price of laptop, which is the only laptop model of the maker</h2>
    <table class="table table-dark table-striped" style="width: 30%">
        <thead>
            <tr>
                <th>MAKER</th>
                <th>PRICE</th>
            </tr>
        </thead>
        {% for r in output %}
        <tr>
            <td>{{ r.maker }}</td>
            <td>{{ r.price }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>